<h1>Danh sách sản phẩm</h1>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Tên sản phẩm</th>
      <th>Giá sản phẩm</th>
      <th>Mô tả</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.description }}</td>
      <td>
        <button (click)="removeItem(product.id)">Xoá</button>
      </td>
    </tr>
  </tbody>
</table>
