<h1>Thêm mới sản phẩm</h1>

<form [formGroup]="form" (submit)="onSubmit()">
  <div>
    <label for="">Tên sản phẩm</label>
    <input type="text" placeholder="Nhập tên sản phẩm" formControlName="name" />
    <div
      *ngIf="
        (form.get('name').invalid && form.get('name').dirty) ||
        form.get('name').touched
      "
    >
      <div *ngIf="form.get('name').errors.required">Đây là trường bắt buộc</div>
      <div *ngIf="form.get('name').errors.minlength">
        Tên sản phẩm phải lớn hơn 5 ký tự
      </div>
    </div>
  </div>
  <div>
    <label for="">Giá sản phẩm</label>
    <input
      type="text"
      placeholder="Nhập giá sản phẩm"
      formControlName="price"
    />
  </div>
  <div>
    <label for="">Mô tả sản phẩm</label>
    <textarea
      placeholder="Nhập mô tả sản phẩm"
      formControlName="description"
    ></textarea>
  </div>
  <button htmlType="submit" [disabled]="form.invalid">Thêm mới</button>
</form>
